<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>BednBreakfast</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d31c678021.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <a class="mainNav" href="/"><i class="fab fa-bimobject"></i></a>
    <ul class="nav justify-content-end" style="width: 95%;">
      <a class="nav-link " href="/"> Home </a>
      </li>
      <li class="nav-item rooms">
        <a class="nav-link" href="/rooms">Rooms</a>
      </li>
      {{#if user}}
      {{#if user.admin}}
      <li class="nav-item addroom">
        <a class="nav-link" href="/user/addroom">Add a Room</a></li>
      {{/if}}
      <li class="nav-item welcome">
      <a class="nav-link" href="/user/welcome">Dashboard</a></li>
      <li class="nav-item logout">
        <a class="nav-link" href="/user/logout">Logout</a></li>
      {{else}}
      <li class="nav-item login">
        <a class="nav-link" href="/user/login">Login</a>
      </li>
      <li class="nav-item signup">
        <a class="nav-link" href="/user/signup">Sign Up</a>
      </li>
      {{/if}}
    </ul>
  </header>


  <section id="main">
    {{{body}}}
  </section>

  <footer>
    <a class="fb" href=""><i class="fab fa-facebook-square"></i></a>
    <a class="twitter" href=""><i class="fab fa-twitter-square"></i>
      <a class="ig" href=""><i class="fab fa-instagram"></i></a>
  </footer>
</body>


</html>