<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BednBreakfast</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/d31c678021.js" crossorigin="anonymous"></script>
  </head>
</head>
<body>  
   <header>

   </header>
   
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="mainNav" href="#"><i class="fab fa-bimobject"></i></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/"> Home </a>
      </li>
      <li class="nav-item-rooms">
        <a class="nav-link" href="/rooms">Rooms</a>
      </li>
       <li class="nav-item-signup">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
    </ul>
  </div>

</nav>

 
    <section id="main">
      {{{body}}}
    </section>
  
    <footer>
    </footer>
</body>
</html>