<h1 class="dash1"> Welcome Admin {{user.firstname}} {{user.lastname}}</h1>

<div class="splash1">
    <a href="/user/addroom">
        <h3 class="visit">
            Add rooms to BedNBreakfast!
        </h3>
    </a>
    <section class="displayrooms">
</div>