<section class="homesec">

    <header class="homehead"></header>
    <div class="promo">
        <p class="promomsg">Save 25% on All Booking for a Limited Time.</p>
        <p class="dsclaimer">**Some Restriction Apply.**</p>
    </div>
    <div class="homepageform">
        
        <form class="homeform" method="POST" action="/message">
            <div class="Name">
                <label class="where">Where do you wanna go?</label>
                <br>
                <div class="Dest">
                    <select class="selDest">
                        <option value="">Where</option>
                        <option value="Toronto">Toronto</option>
                        <option value="Montreal">Montreal</option>
                        <option value="New York">New York</option>
                        <option value="California">California</option>
                    </select>
                </div>
            </div>

            <div class="CheckIn">
                <label>Check-In Day</label>
                <input type="date" name="dateIn" min="2019-01-01">
            </div>

            <div class="CheckOut">
                <label>Checkout Out</label>
                <input type="date" name="dateout">
            </div>


            <div class="Guest">
                <label class="guest">Guest</label>
                <br>
                <label class="adultsel">Adults(18+) &nbsp;</label><input class="adultnum" type="number" min="0">
                <br>
                <label class="childsel">Children(3-17) &nbsp;</label><input class="childnum" type="number" min="0">
                <br>
                <label class="infantsel">Infants(2 and under) &nbsp;</label><input class="infantnum" type="number"
                    min="0">
            </div>

            <div class="submitdest">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>

    </div>

    <div class="div1">
        
        <iframe class="ytvid" width="800px" height="500px" src="https://www.youtube.com/embed/XDdIenqWknI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

    <div class="desc">
        <h2 class="stay">Stay Anywhere at  <font color="#dc3545">Anytime.</font></h2>
        <br>
        <p>
            <font color="#dc3545">We take travelling seriously,</font> so you don't have to.
            <br>
            <b>B</b>ook unique places to go.
            <br>
            <b>B</b>ook new places to see.
            <br>
            <b>B</b>ook with ease.
            <br>
             <font class="confidence" color="#dc3545">Book with confidence</font>.
        </p>

    </div>
</section>