<h1 class="Login1"> Login </h1>

<form class="loginpage" method="POST" action="/user/login">

    <div class="email">
        <input type="email" name="email" placeholder="Email">
    </div>

    <div class="pass">
        <input type="password" name="password" placeholder="Create a Password">
    </div>

    <div class="loginerror">
        {{#each message}}
        <p>{{this}}</p>
        {{/each}}
    </div>


    <button type="submit" class="btn btn-danger">Submit</button>

</form>