<h1 class="signuptitle"> Sign Up </h1>



<form class="signupform" method="POST" action="/user/signup">

    <div class="email">
        <input type="email" name="email" placeholder="Email">
    </div>

    <div class="firstName">
        <input type="text" name="firstname" placeholder="First Name">
    </div>

    <div class="lastName">
        <input type="text" name="lastname" placeholder="Last Name">
    </div>

    <div class="pass">
        <input type="password" name="password" placeholder="Create a Password">
    </div>

    <div class="dob">
        <input type="date" name="birthday">
   </div>

   <div class="loginerror">
        {{#each message}}
        <p>{{this}}</p>
        {{/each}}
    </div>

    <button type="submit" class="btn btn-danger">Submit</button>

</form>

