<h1 class="signuptitle"> Sign Up </h1>

<form class="signupform" method="POST" action="/message">

<div class="email">
    <input type="email" name="email" placeholder="Email">
</div>

<div class="firstName">
    <input type="text" name="firstName" placeholder="First Name">
</div>

<div class="lastName">
    <input type="text" name="lastName" placeholder="Last Name">
</div>

<div class="pass">
    <input type="password" name="pass" placeholder="Create a Password">
</div>

<button type="submit" class="btn btn-danger">Submit</button>

</form>