<h1 class="dash1"> Welcome {{user.firstname}} {{user.lastname}}</h1>

<div class="splash1">
    <a href="/rooms">
    <h3 class="visit">
        Check out available rooms to Book!
    </h3>
    </a>
</div>
