<h1 class="dash1"> Welcome to Bed<font color="red">N</font>Breakfast </h1>

<div class="splash1">
    <a href="/rooms">
    <h3 class="visit">
        Check out available rooms to Book!
    </h3>
    </a>
</div>
