*
{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

p
{
    margin-bottom: 0rem;
}

.mainNav
{
    color: #dc3545;
    font-size: 3rem;
    padding-left: 3rem;
}




.header
{
    display:flex;
    align-items: center;
}

.header a:hover
{
    color: black;
}

.nav.justify-content-end a
{
    font-size: 1.15rem;
    color: black;
}

.nav.justify-content-end a:hover
{
    color: #dc3545;
    text-decoration: underline;
}

.homehead
{
    padding-top: 3rem;
}

.homesec
{
    background-image: url("../images/mainhome.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    border: 0.5px;
    border-style: solid;
    border-color: black;
    border-bottom-color: #dc3545;
}

.homeform
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
}

.homepageform
{   
    margin-top: 3rem;
    margin-left: 8rem;
    height: 500px;
    width: 400px;
    background-color:white;
    background-image: none;
    border: 0.5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

.where
{
    font-size: 1.75rem;
    font-weight: bolder;
    padding-left: 1.3rem;
}

.Dest, .CheckIn, .CheckOut, .Guest
{
    padding-left: 1rem;
    
}

.selDest
{
    width: 350px;
    border-radius: 5px;
}

.CheckIn, .CheckOut, .guest
{
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.adultnum, .childnum, .infantnum
{
    width: 150px;
    border-radius: 5px;
}

.adultsel, .childsel, .infantsel
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.promo
{
    margin: auto;
    text-align: center;
    background-color: indianred;
    width: 80%;
    align-content: center;
    border-radius: 5px;
}

.promomsg
{
   font-size: 2.4rem;
   color: white;
   padding-top: 0.25rem;
}

.disclaimer
{
    font-size: 0.5rem;
    color: black;
}

.div1
{
    display:flex;
    justify-content: center;
}

.desc
{
    text-align: center;
    padding-right: 5rem;
}

.submitdest
{
    text-align: center;
}

.roomtitle, .signuptitle, .Login1
{
    text-align: center;
    padding-top: 1.3rem;
}

.signupform
{
    text-align: center;
    background-image: url("../images/welcome.jpg");
    background-size: 100%;
    height: 785px;
    background-position-y: 800px;
    background-repeat: none;
}

.dob
{
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
}

.monthsel
{
    display: inline-block;
    margin: auto;
}

.monthsel, .daysel, .yearsel
{
    display: flex;
    flex: 0;
}

.years
{
    width: 50px;
}

.email, .firstName, .lastName, .pass
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Dest, .Checkin, .CheckOut, .Guest
{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.disrooms
{
    display: flex;
    flex: 1;
    max-width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.disroom
{
    width: 30%;

}

.room1, .room2, .room3
{
    padding-top: 1.5rem;
}

.room1, .room2, .room3, .room4, .room5, .room6
{
    text-align: center;
    height: 450px;
    width: 100%;
}

.rmimg
{
    height: 150px;
    width: 300px;
}

.desc
{
    height: 275px;
    background: white;
    padding-top: 3rem;
    padding-left: 5rem;
    border: 0.5px;
    border-style: solid;
    border-color: #dc3545;
    font-weight: bold;
}


.confidence
{
    font-weight: bold;
}

footer
{
    text-align: center;
    font-size: 2rem;
}

footer > a
{
    color: #dc3545;
}


footer > a:hover
{
    color: black;
}

.loginpage, .Login1
{
    text-align: center;
}

.loginpage
{
    padding-top: 20vh;
}

.loginpage
{
    background-image: url("../images/loginmobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    width: 100%; 
    background-position-y: -800px;
}

.dash1
{
    text-align: center;
    padding-bottom: 1.3rem;
}

.visit
{
    color: white;
    text-decoration: underline;
    text-align: center;
    padding-top: 30vh;
}

.splash1
{
    background-image: url("../images/dashboard.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    width: 100%;
}

.loginerror
{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.roomform
{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    border-color: #dc3545;
    border-left: none;
    border-right: none;
}

.select
{
    width: 15%;
}

.roomTitle, .location, .postalcode, .rules, .desc1, .price, .picture
{

    padding: .5rem;
}

.picture
{
    padding-left: 8rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.editlink
{
    color: #dc3545
}

.editlink:hover
{
    color: black;
}

@media only screen and (max-width: 1500px){


    .homesec
    {
    background-image: url("../images/mainhome.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    height: 100vh;
    border: 0.5px;
    border-style: solid;
    border-color: black;
    border-bottom-color: #dc3545;
    }
}

@media only screen and (max-width: 1200px){


    .homesec
    {
    background-image: url("../images/mainhome.jpg");
    background-repeat: no-repeat;
    background-size: 170%;
    height: 100vh;
    border: 0.5px;
    border-style: solid;
    border-color: black;
    border-bottom-color: #dc3545;
    }

    .loginerror
    {
        color: red;
        font-weight: bold;
    }

    .signupform
    {
    text-align: center;
    background-image: url("../images/welcomemobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    width: 100%; 
    background-position-y: -300px;
    }

    .loginpage
    {
    text-align: center;
    background-image: url("../images/loginmobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    width: 100%; 
    background-position-y: -300px;
    }
}

@media only screen and (max-width: 1000px){

    .homesec
    {
    background-image: url("../images/homemobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -300px;
    height: 100vh;
    border: 0.5px;
    border-style: solid;
    border-color: black;
    border-bottom-color: #dc3545;
    }

    .ytvid
    {
      display: none;   
    }

    .row1, .row2
    {
        display: block;
        flex: 1;
        max-width: 100%;
    }

    .signupform
    {
    text-align: center;
    background-image: url("../images/welcomemobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60vh;
    width: 100%; 
    background-position-y: -100px;
    }

    .splash1
    {
    background-image: url("../images/dashboard.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60vh;
    width: 100%;
    }

    .loginpage
    {
    background-image: url("../images/loginmobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60vh;
    width: 100%; 
    background-position-y: -100px;
    }

    .loginerror
    {
        color: red;
        font-weight: bold;
    }
}

@media only screen and (max-height: 800px){

    .homeform
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    
    .homepageform
    {   
        margin-top: 3rem;
        margin-left: 8rem;
        height: 450px;
        width: 400px;
        background-color:white;
        background-image: none;
        border: 0.5px;
        border-style: solid;
        border-color: black;
    }
    
    .where
    {
        font-size: 1.5rem;
        font-weight: bolder;
        padding-left: 1rem;
    }
    
    .Dest, .CheckIn, .CheckOut, .Guest
    {
        padding-left: .5rem;
    }
    
    .selDest
    {
        width: 350px;
    }
    
    .CheckIn, .CheckOut, .guest
    {
        font-weight: bold;
        font-size: 16px;
    }
    
    .adultnum, .childnum, .infantnum
    {
        width: 140px;
    }
    
    .adultsel, .childsel, .infantsel
    {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

}


@media only screen and (max-height: 750px) {
    .homesec
    {
    background-image: url("../images/mainhome.jpg");
    background-repeat: no-repeat;
    background-size: 250%;
    background-position-y: -300px;
    background-position-x: -800px;
    height: 130vh;
    border: 0.5px;
    border-style: solid;
    border-color: black;
    border-bottom-color: #dc3545;
    }
}

@media only screen and (max-width: 800px) {
    .disroom
    {
        width: 100%;
    }
}


